{% extends "base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header" id="headingOne">
            <a class="" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseExample">
                Таймлайн
            </a>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="form-row align-items-center">
                  <div class="col">
                      <canvas id="canvas" class="img-fluid" height="100"></canvas>
                      <a href="#" onclick="simulate();">
                          Симулировать помеху
                      </a>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <a class="" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseExample">
                Просмотр <span id="result"></span>
            </a>
        </div>
        <div id="collapseTwo" class="collapse show flex-shrink-0" aria-labelledby="headingTwo">
            <div class="card-body">
                <div class="form-row">
                    <div class="col">
                        <div class="" id="divTvzor" >
                            <img class="img-fluid img-snapshot" id="imgDetect" width="" height="" src='/static/images/detect/1.jpg'></img>
                            <!-- <canvas class="img-fluid img-snapshot" id="canvasFigures" width="640" height="480" onclick="showTemp(event,this);"></canvas> -->
                        </div>
                    </div>

                <div class="col" id="resTable" >

                  <div class="" id="" >
                      <img class="img-fluid img-snapshot" id="imgGrab" width="" height="" src=''></img>
                      <!-- <canvas class="img-fluid img-snapshot" id="canvasFigures" width="640" height="480" onclick="showTemp(event,this);"></canvas> -->
                  </div>

                </div>

            </div>
        </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <a class="" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseExample">
                Статистика
            </a>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <div class="form-row align-items-center">
              <div class="col-6">
                <h6>Обнаружено</h6>
                <table class="table table-sm" id="tableDetected">
                  <thead>
                    <tr>
                      <th scope="col">Тип помехи</th>
                      <th scope="col">Кол-во</th>
                    </tr>
                  </thead>
                  <tbody id='tabDetected'>
          <!--          <tr>
                      <td scope="row">Труба</td>
                      <td id='cntTubeDetected'>0</td>
                    </tr>
                    <tr>
                      <td scope="row">Арматура</td>
                      <td id='cntArmDetected'>0</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <h6>Выбрано (симуляция)</h6>
                <table class="table table-sm" id="tableGrabbed">
                  <thead>
                    <tr>
                      <th scope="col">Тип помехи</th>
                      <th scope="col">Кол-во</th>
                    </tr>
                  </thead>
                  <tbody id='tabGrabbed'>
                <!--    <tr>
                      <td scope="row">Труба</td>
                      <td id='cntTubeGrabbed'>0</td>
                    </tr>
                    <tr>
                      <td scope="row">Арматура</td>
                      <td id='cntArmGrabbed'>0</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


{% endblock %}

{% block scripts %}

{% endblock %}
